# ===================== Django 核心框架依赖 =====================
Django==3.2.23
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2

# ===================== 服务器依赖 =====================
gunicorn==21.2.0

# ===================== 数据库依赖 =====================
mysqlclient==2.2.0

# ===================== 辅助功能依赖 =====================
PyJWT==2.8.0
python-dotenv==1.0.0
django-cors-headers==4.2.0
django-axes==5.34.0
Pillow==10.0.1